* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 67%;
  font-family: "Times New Roman", Times, serif;
  color: white;
}
body {
  background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 8rem;
}

li {
  list-style: none;
}

.container {
  max-width: 90rem;
  margin: auto;
  /* height: 100vh; */
  /* width: 100%; */
}
.flex {
  display: flex;
}

.middle {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
p,
a,
button {
  letter-spacing: 0.2rem;
  line-height: 1.4;
  font-size: 3rem;
  color: white;
  text-decoration: none;
}

a:hover {
  color: #2e86c1;
}

button {
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
  padding: 0.6rem 2.4rem;
  text-align: center;
  border: none;
  transition: all 0.3s ease-in-out;
  background: #202020;
  color: #fff;
  border-radius: 1.5rem;
  border-style: solid;
  margin-top: 1.6rem;
}

.grid {
  display: grid;
}

.grid-col2 {
  grid-template-columns: (2, 1fr);
}
.grid-col3 {
  grid-template-columns: (3, 1fr);
}

.error-page {
  height: 100vh;
}

/* HEader css */

header {
  width: 100%;
  background-color: #202020;
  box-shadow: rgba(255, 255, 255, 0.3) 0px 10px 10px -10px;
  padding: 0rem 3rem;
  & .container {
    height: 8rem;
  }

  & .active {
    color: #2e86c1;
  }

  & h1 {
    font-size: 3rem;
    color: white;
  }

  & ul {
    justify-content: flex-end;
    gap: 3.5rem;
  }

  & li {
    list-style: none;
  }

  & .navGrid-col2 {
    grid-template-columns: 0.5fr 1fr;
    align-items: center;
  }

  & a {
    font-size: 2rem;
  }
}

main {
  .container {
    grid-template-columns: 1fr 1fr;
  }
  .hero-content {
    margin: 9rem auto;
    /* width: 50%; */
    gap: 6rem;

    h1 {
      font-family: inherit;
      font-size: clamp(1.2rem, 6vw, 3.2rem);
      font-weight: 700;
      line-height: 1.15;
      letter-spacing: -1px;
    }
    p {
      margin: 3.2rem 0;
      font-weight: 100;
      font-size: clamp(1.2rem, 3vw, 2.2rem);
    }
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      /* padding:4rem; */
      height: 4rem;
      font-size: 2rem;
      font-weight: 500;
    }

    .hero-img {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  img {
    width: 100%;
  }
}

@media screen and (max-width: 990px) {
  .hero-section .hero-img {
    order: 0;
  }
  .hero-section .hero-text {
    order: 1;
  }
  .hero-section button {
    /* height: 20rem; */
    padding: 1rem;
    /* font-size: 0.2rem; */
  }
}

/* about page css */
/* clamp is used to make font size more responsive */

.about-section {
  .about-title {
    h2 {
      font-size: clamp(2rem, 8vw, 4rem);
      text-align: center;
      margin: 2rem 0;
    }
  }

  .cards {
    /* border: 1px solid red; */

    max-width: 55rem;
    width: 100%;
    /* border: #fff 1px solid; */
    border-radius: 50px;
    /* height: 30rem; */
    margin: 0rem auto;
    padding: 1rem 3rem;
    /* margin-inline: auto; */
    /* grid-template-columns: repeat(3,1fr); */

    box-shadow: rgba(191, 180, 187, 0.4) 2px 1px 10px,
      rgba(43, 38, 41, 0.3) 10px 1px, rgba(240, 46, 170, 0.2) 0px 3px,
      rgba(240, 46, 170, 0.1) 10px 0px 10px, rgba(240, 46, 170, 0.05) 0px 0px;
  }

  .about-cards {
    grid-template-columns: repeat(3, 1fr);

    gap: 3rem;
    /* margin: auto; */

    p {
      font-size: clamp(1rem, 6vw, 1.7rem);
      padding: 0 0.1rem;
      /* color: rgba(255, 255, 255, 0.5); */

      span {
        color: rgba(255, 255, 255, 0.5);
        /* margin: 1rem 0; */
        font-size: 2rem;
        line-height: 1.5;
      }
    }

    .countryName {
      font-size: clamp(1rem, 6vw, 3rem);
      /* color: red; */
    }
  }
}

@media screen and (max-width: 990px) {
  .about-section {
    .about-cards {
      grid-template-columns: repeat(2, 1fr);
      /* gap: 2rem; */
      margin: 0 2rem;
    }
  }
}

/*  contact us section */
.contact-section {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    font-size: clamp(1rem, 12vw, 4rem);
    font-weight: 500;
    margin-top: 4rem;
    margin-bottom: 2rem;
  }
  .form-container {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50rem;

    input,
    textarea {
      width: 100%;
      border-radius: 10px;
      margin: 2rem 0;
      padding: 2rem;
      background-color: transparent;
      border: 1px outset inset rgb(56, 54, 54);
      outline: none;
      color: white;
      font-size: 1.5rem;

      &::placeholder {
        font-size: 1.5rem;
      }
    }

    input {
      height: 3rem;
    }

    button {
      justify-content: center;
      align-items: center;
      /* text-align: center; */
      height: 4rem;
      font-size: 2rem;
      /* font-weight: ; */
      /* width: 4rem; */
    }
  }
}

@media screen and (max-width: 540px) {
  .contact-section {
    .form-container {
      width: 70%;
    }
  }
}

/* footer section */
footer {
  width: 100%;
  background-color: #202020;
  .footer-section {
    grid-template-columns: repeat(3, 1fr);
    height: 6.9rem;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;

    .footer-content {
      display: flex;
      font-size: 1.5rem;
      gap: 0.2rem;
      align-items: center;
      /* text-align: center; */

      .icon {
        font-size: 2rem;
        padding: 0% 2px;
      }
      .footer-text {
        font-size: clamp(1rem, 12vw, 1.5rem);
        padding-right: 1rem;
        .title {
          margin: 0 5px;
        }
      }
    }
  }
}
@media screen and (max-width: 640px) {
  header {
    width: 100%;
    padding: 0 0;
    ul {
      gap: 1.2rem;
    }
  }
  footer {
    width: 100%;
    margin: 0 0;
    padding: 0 0;
  }
}

/* Loader css */
.loader {
  width: 48px;
  height: 48px;
  display: block;
  margin: 15px auto;
  position: relative;
  color: #fff;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 50%;
  transform: scale(0.5) translate(0, 0);
  background-color: #fff;
  border-radius: 50%;
  animation: animloader 1s infinite ease-in-out;
}
.loader::before {
  background-color: #ff3d00;
  transform: scale(0.5) translate(-48px, -48px);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animloader {
  50% {
    transform: scale(1) translate(-50%, -50%);
  }
}

/* country page css */

.country-content {
  grid-template-columns: repeat(3, 0.5fr);
  gap: 2rem;
  margin: 3rem 0 6rem 0;

  .country-container {
    height: 30rem;
    margin: 0rem auto;
    padding: 1rem;
    width: 26rem;

    .country-border {
      /* border: 1px solid red; */
      height: 30rem;
      padding: 1rem;
      background-color: #8c7e7e56;
      border-radius: 10px;
      box-shadow: 0 0 10px 2px rgb(56, 54, 54);
      /* border: 10px inset outset white; */
      /* outline: none; */
      /* max-height: 30rem; */

      img {
        padding-bottom: 5px;
        /* padding: 9px 4px; */
        height: 13rem;
        width: 100%;
      }
      p {
        font-weight: 700;
        margin-left: 8px;
        line-height: 1.4;
        font-size: clamp(1rem, 12vw, 1.8rem);
        color: rgba(255, 255, 255, 0.5);
        span {
          font-size: 1.6rem;
          padding-left: 4px;
          font-weight: 600;
          color: white;
        }
      }
      button {
        width: 15rem;
        height: 3rem;
        font-size: 1.3rem;
        justify-content: center;
        align-items: center;
        border: 0;
        outline: none;
        &:hover {
          border: 1px solid white;
        }
      }
    }
  }
}

@media screen and (max-width: 910px) {
  .container {
    /* max-width: 70rem; */
  }
  .country-content {
    grid-template-columns: repeat(2, 0.5fr);
    gap: 1;
  }
}
@media screen and (max-width: 600px) {
  .container {
    /* margin: auto; */
    /* max-width: 70rem; */
  }
  .country-content {
    grid-template-columns: repeat(1, 0.5fr);
    gap: 1;
    justify-content: center;
  }
}

/* countrydetail css */

.card-container {
  padding: 1rem 0;
  margin: 2rem auto;
  height: 45rem;
  background-color: #38363692;
  border-radius: 20px;
  grid-template-columns: 0.5fr 1fr;

  img {
    margin: 1rem 4rem;
    width: 40rem;
  }

  h4 {
    font-size: 5rem;
  }
  p {
    margin: 1rem 0;
    color: rgba(255, 255, 255, 0.5);
    font-size: 2rem;
    span {
      color: white;
    }
  }
  button {
    margin: 1rem;
    max-width: 10rem;
    /* width: 10rem; */
    font-size: 1.4rem;
    font-weight: 900;
    padding: 0;
    height: 4rem;
    border: 1px outset white;
    /* border: 0; */
    /* outline: none; */
    &:hover{
      border: 2px solid white;
    }
  }
}
