* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 67%;
  font-family: "Times New Roman", Times, serif;
  color: white;
}
body {
  background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 8rem;
}

.container {
  max-width: 90rem;
  margin: auto;
  /* height: 100vh; */
  /* width: 100%; */
}
.flex {
  display: flex;
}

.middle {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
p,
a,
button {
  letter-spacing: 0.2rem;
  line-height: 1.4;
  font-size: 3rem;
  color: white;
  text-decoration: none;
}

a:hover {
  color: #2e86c1;
}

button {
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
  padding: 0.6rem 2.4rem;
  text-align: center;
  border: none;
  transition: all 0.3s ease-in-out;
  background: #202020;
  color: #fff;
  border-radius: 1.5rem;
  border-style: solid;
  margin-top: 1.6rem;
}

.grid {
  display: grid;
}

.grid-col2 {
  grid-template-columns: (2, 1fr);
}

.error-page {
  height: 100vh;
}

/* HEader css */

header {
  width: 100%;
  background-color: #202020;
  box-shadow: rgba(255, 255, 255, 0.3) 0px 10px 10px -10px;
  padding: 0rem 3rem;
  & .container {
    height: 8rem;
  }

  & .active {
    color: #2e86c1;
  }

  & h1 {
    font-size: 3rem;
    color: white;
  }

  & ul {
    justify-content: flex-end;
    gap: 3.5rem;
  }

  & li {
    list-style: none;
  }

  & .navGrid-col2 {
    grid-template-columns: 0.5fr 1fr;
    align-items: center;
  }

  & a {
    font-size: 2rem;
  }
}

main {
  .container {
    grid-template-columns: 1fr 1fr;
  }
  .hero-content {
    margin: 9rem auto;
    /* width: 50%; */
    gap: 6rem;

    h1 {
      font-family: inherit;
      font-size: clamp(1.2rem, 6vw, 3.2rem);
      font-weight: 700;
      line-height: 1.15;
      letter-spacing: -1px;
    }
    p {
      margin: 3.2rem 0;
      font-weight: 100;
      font-size: clamp(1.2rem, 3vw, 2.2rem);
    }
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      /* padding:4rem; */
      height: 4rem;
      font-size: 2rem;
      font-weight: 500;
    }

    .hero-img {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  img {
    width: 100%;
  }
}

@media screen and (max-width: 990px) {
  .hero-section .hero-img {
    order: 0;
  }
  .hero-section .hero-text {
    order: 1;
  }
  .hero-section button {
    /* height: 20rem; */
    padding: 1rem;
    /* font-size: 0.2rem; */
  }
}

/* about page css */
/* clamp is used to make font size more responsive */

.about-section {
  .about-title {
    h2 {
      font-size: clamp(2rem, 8vw, 4rem);
      text-align: center;
      margin: 2rem 0;
    }
  }

  .cards {
    /* border: 1px solid red; */

    max-width: 55rem;
    width: 100%;
    /* border: #fff 1px solid; */
    border-radius: 50px;
    /* height: 30rem; */
    margin: 0rem auto;
    padding: 1rem 3rem;
    /* margin-inline: auto; */
    /* grid-template-columns: repeat(3,1fr); */

    box-shadow: rgba(191, 180, 187, 0.4) 2px 1px 10px,
      rgba(43, 38, 41, 0.3) 10px 1px, rgba(240, 46, 170, 0.2) 0px 3px,
      rgba(240, 46, 170, 0.1) 10px 0px 10px, rgba(240, 46, 170, 0.05) 0px 0px;
  }

  .about-cards {
    grid-template-columns: repeat(3, 1fr);

    gap: 3rem;
    /* margin: auto; */

    p {
      font-size: clamp(1rem, 6vw, 1.7rem);
      padding: 0 0.1rem;
      /* color: rgba(255, 255, 255, 0.5); */

      span {
        color: rgba(255, 255, 255, 0.5);
        /* margin: 1rem 0; */
        font-size: 2rem;
        line-height: 1.5;
      }
    }

    .countryName {
      font-size: clamp(1rem, 6vw, 3rem);
      /* color: red; */
    }
  }
}

@media screen and (max-width: 990px) {
  .about-section {
    .about-cards {
      grid-template-columns: repeat(2, 1fr);
      /* gap: 2rem; */
      margin: 0 2rem;
    }
  }
}
