* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 67%;
  font-family: "Times New Roman", Times, serif;
  color: white;
}
body {
  background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 8rem;
}

.container {
  height: 100vh;
  width: 100%;
}
.flex {
  display: flex;
}

.middle {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
p,
a,
button {
  letter-spacing: 0.2rem;
  line-height: 1.4;
  font-size: 3rem;
}

button {
  /* display: flex; */
  /* gap: 1.2rem; */
  /* align-items: center; */
  font-family: inherit;
  font-weight: 500;
  /* line-height: 1.5; */
  cursor: pointer;
  padding: 0.6rem 2.4rem;
  text-align: center;
  /* outline: none; */
  border: none;
  /* text-transform: unset; */
  transition: all 0.3s ease-in-out;
  background: #202020;
  color: #fff;
  border-radius: 1.5rem;

  /* border-width: 0.4rem; */
  border-style: solid;

  margin-top: 1.6rem;
}
